/* Font Styling */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Modern, clean font */
    color: #201E43; /* Dark text color for readability */
    background-color: #508C9B; /* Light gray background for the whole page */
  }
  .page-title {
    color: #134B70; /* Dark blue color for the title text */
    font-family: 'Arial', sans-serif; /* Clean, modern font */
    font-size: 2.5rem; /* Larger font size for prominence */
    font-weight: bold; /* Bold text for emphasis */
    margin-bottom: 1.5rem; /* Space below the title */
    text-align: center; /* Center-align the title */
  }
  /* Navbar Styling */
  .navbar {
    background-color: #002035; /* Dark blue background for the navbar */
    border-bottom: 2px solid #508C9B; /* Lighter blue border for separation */
    padding: 1.5rem 0; /* Increased padding to make the navbar taller */
  }
  .navbar-brand {
    font-weight: bold; /* Emphasize the brand name */
    color: #EEEEEE; /* Light gray text color for contrast */
    text-decoration: none; /* Remove underline */
  }
  .navbar-brand:hover {
    color: #EEEEEE; 
    text-decoration: none; 
  }
  .navbar-nav .nav-link {
    color: #73b1bf; /* Medium blue text for links */
  }
  

/* Define Button Styling */
  /* Button Styling (General Outline) */
  .btn-outline-success {
    color: #ffffff; 
    border-color: #EF5A6F;
    background-color: #EF5A6F;
  }
  
  

  /* Main Content Area */
  main.container {
    background-color: #a1bfc6; /* Light gray color for the main content */
    padding: 20px; /* Add padding around the main content */
    border-radius: 0.5rem; /* Rounded corners for a softer look */
  }
  
  
  /* Background Light Container */
  .bg-light {
    background-color: #508C9B; /* Light gray background for this section */
    color: #201E43; /* Dark text color for readability */
  }
  .btn-outline-success {
    color: #ffffff;
    border: none;
    background-color: #EF5A6F;
  }
  
  .btn-outline-success:hover,
  .btn-outline-success:focus,
  .btn-outline-success:active {
    background-color: #d94d5b;
    border: none;
    color: #ffffff;
    text-decoration: none;
  }
.text-warning {
    color: #d94d5b !important;
}

.text-success {
    color: #d94d5b !important;
}
  
  /* List Style Enhancements */
  #definition-result {
    background-color: #EEEEEE; /* Light gray color for the list area */
    border-radius: 0.5rem; /* Rounded corners for the list */
    padding: 10px; /* Add padding inside the list */
  }
  
  #definition-result li {
    padding: 10px; /* Add padding inside each list item */
    border-bottom: 1px solid #508C9B; /* Medium blue border between items */
  }
  .list-unstyled {
    color: #000000;
  }
  
  #definition-result ul {
    color: #2f2f2f;
    margin-left: 0; /* Remove margin for nested lists */
  }
  